@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
}

.swiper-button-prev {
  color: gray; 
}

.swiper-button-next {
  color: gray; 
}

.swiper-pagination-bullet-active {
  background-color: #EFBC26 !important;
  border: solid 2px #EFBC26; 
  margin: 5px;
  width: 12px;
  height: 12px;
  
}


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
